* {
  box-sizing: border-box;
}
body {
  padding-top: 20px;
  font-size: 16px;
  font-family: Tahoma, Geneva, Verdana, sans-serif;
}

header {
  background: linear-gradient(to left, #055cb3 0%, #ccffff 100%);
}
.crnt-weather {
  background-color:#d6f8f8;
}
.crnt-city {
  font-size: 30px;
}
.btn {
  outline: auto;
  background-color: #0d65bd;
}
.btn :hover {
  background-color: #8db3c2;
}
.history .form-control {
  margin-top: 5px;
  text-align: center;
}
 .forecast p{
  font-size: 13px;
  text-align: left;
}

